In [1]:
import pandas as pd
import numpy as np

### File I/O

In [8]:
# reading a csv file and viewing data head
data = pd.read_csv(r"C:\Users\abdul\Desktop\Machine Learning\Data_analysis\Data_analysis_python\Data\train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Save a file
data.to_csv("C:/Users/abdul/Desktop/temp.csv", encoding='utf-8', index=False)

### Analysis

In [ ]:
# subsetting a dataframe
data = df.loc[(df.city_name == "Las Vegas") | (df.city_name == "Henderson")]

# subsetting based on comparison of 2 dfs
subset = inspection[inspection.business_id.isin(df2.business_id)].reset_index(drop=True)

# subsetting by dates between
rev[rev.date.between(lower_date, upper_date)]

In [ ]:
# groupby
yelp.groupby('city')['population'].mean().reset_index()

# multiple aggregations
grp = rev.groupby('business_id').agg({'business_id':['count'], 
                            'stars':['mean']}).sort_values([('business_id', 'count')], ascending=False)

In [ ]:
# unique values of a column
yelp.city.unique()

# number of unique values
yelp.city.nunique()

In [ ]:
# replacing erroneous values in a column
df['type'].replace(to_replace=['a', 'b'], value='low', inplace=True)

In [ ]:
# apply function
def recode_grade(x):
    if x.inspection_demerits <= 10:
    return 'P'
    else: return 'F'
    

inspection['clean_grade'] = inspection.apply(recode_grade, axis=1)

In [ ]:
# casting the type of a column
inspection.year = inspection.year.astype(int)

In [ ]:
# Random sampling a number of records from a df
subset = df.sample(1000)

In [ ]:
# concatenating 2 dfs vertically
df_new = pd.concat([df1, df2])

In [7]:
# summary of data types of features
data.info()

In [24]:
# dimension of data
data.shape

(891, 12)

In [10]:
# frequency of occurrence of categories
data.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [11]:
# statistical summary of numerical columns
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [12]:
# adding an index column
data.reset_index()

In [18]:
# splitting data
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(X, y, stratify=y, test_size=0.25)

In [ ]:
# obtaining categorical features
s = (x_train.dtypes == 'object')
cat_cols = list(s[s].index)

In [19]:
# copy a dataframe
data2 = data.copy()

In [21]:
# correlation matrix
correl = data.corr()
# correlation values with respect to one feature
correl['Age'].sort_values(ascending=False)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [ ]:
# columns with NAs
yelp.columns[yelp.isna().any()].tolist()

In [ ]:
# records that are not NAs for a column
yelp = yelp[yelp.text.notna()]

In [23]:
# dropping a column
housing = strat_train_set.drop("median_house_value", axis=1)

In [ ]:
# drop NAs for a column
housing.dropna(subset=["total_bedrooms"])

In [ ]:
# fill NA with median
housing["total_bedrooms"].fillna(median, inplace=True)

In [ ]:
# using simple imputer for numerical imputation
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")

imputer.fit(housing_num)
X = imputer.transform(housing_num)

# convert back to dataframe
housing_tr = pd.DataFrame(X, columns=housing_num.columns, index=housing.index)

In [ ]:
# Imputing mode for categorical variables
class MostFrequentImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.most_frequent_ = pd.Series([X[c].value_counts().index[0] for c in X],
                                        index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.most_frequent_)

In [ ]:
# manually encoding a categorical feature
mapper = {'unknown':0, 'dry':1, 'seasonal':2, 'insufficient':3, 'enough':4}
x_train['quantity'] = x_train['quantity'].replace(mapper)

In [ ]:
# ordinal encoder for categorical features
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder()
housing_cat_encoded = ordinal_encoder.fit_transform(housing_cat)

# obtaining categories
ordinal_encoder.categories_

In [ ]:
# one hot encoder
from sklearn.preprocessing import OneHotEncoder

cat_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
housing_cat_1hot = cat_encoder.fit_transform(housing_cat)
housing_cat_1hot = pd.DataFrame(housing_cat_1hot, columns=cat_encoder.get_feature_names())

In [ ]:
# Date column formatting
inspection.inspection_date = inspection.apply(lambda x: pd.to_datetime(x.inspection_date), axis=1)

# extracting year from datetime
inspection['year'] = pd.DatetimeIndex(inspection.inspection_date).year

In [ ]:
# sorting a df by a column
df = df.sort_values('date')

In [ ]:
# merging/joining dataframes
data = pd.merge(df1, df2, on="inspection_type_id", how='inner', suffixes=["", "_b"])

In [ ]:
# dataframe column names
data.columns

In [ ]:
# Number of NAs in a column
data['owner_id'].isna().sum()

In [ ]:
# Text analysis
from nltk import word_tokenize
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

# tokenization
tokens = word_tokenize(temp)

# obtaining only words
words = [word for word in tokens if word.isalpha()]

# removing stopwords
words = [w for w in words if not w in stop_words]

In [ ]:
# displaying dataframes without trimming large cells
def display_dataframe_without_trim():
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.width', None)
    pd.set_option('display.max_colwidth', 200)

In [ ]:
# removing duplicates from a df
df_new = df.drop_duplicates()

In [ ]:
# subtracting 10 days from a date
new_date = df.date - pd.to_timedelta(10, unit='d')

In [ ]:
# today's date
today = dt.datetime.today()

### Pipelines

In [ ]:
# creating your own feature transformations
from sklearn.base import BaseEstimator, TransformerMixin

# column index
rooms_ix, bedrooms_ix, population_ix, households_ix = 3, 4, 5, 6

class CombinedAttributesAdder(BaseEstimator, TransformerMixin):
    def __init__(self, add_bedrooms_per_room = True): # no *args or **kargs
        self.add_bedrooms_per_room = add_bedrooms_per_room
    def fit(self, X, y=None):
        return self  # nothing else to do
    def transform(self, X):
        rooms_per_household = X[:, rooms_ix] / X[:, households_ix]
        population_per_household = X[:, population_ix] / X[:, households_ix]
        if self.add_bedrooms_per_room:
            bedrooms_per_room = X[:, bedrooms_ix] / X[:, rooms_ix]
            return np.c_[X, rooms_per_household, population_per_household,
                         bedrooms_per_room]
        else:
            return np.c_[X, rooms_per_household, population_per_household]

attr_adder = CombinedAttributesAdder(add_bedrooms_per_room=False)
housing_extra_attribs = attr_adder.transform(housing.values)

# converting back to dataframe
housing_extra_attribs = pd.DataFrame(housing_extra_attribs,
    columns=list(housing.columns)+["rooms_per_household", "population_per_household"],
    index=housing.index)

In [ ]:
# using pipelines to apply transformations
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
        ('imputer', SimpleImputer(strategy="median")),
        ('attribs_adder', CombinedAttributesAdder()),
        ('std_scaler', StandardScaler()),
    ])

housing_num_tr = num_pipeline.fit_transform(housing_num)

In [ ]:
# using column transformer to combine pipelines
from sklearn.compose import ColumnTransformer

num_attribs = list(housing_num)
cat_attribs = ["ocean_proximity"]

full_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attribs),
        ("cat", OneHotEncoder(), cat_attribs),
    ])

housing_prepared = full_pipeline.fit_transform(housing)